@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;700&display=swap');
@import 'tailwindcss';

@theme {
  --font-zenKakuGothicNew: 'Zen Kaku Gothic New', sans-serif;

  --color-segmentedControl-bg: #eaf3f8;
  --color-focuswithin: #c8d9e9;
  --color-heading: #344554;
  --color-label: #323c47;
  --color-paragraph-basic: #233539;
  --color-paragraph-weak: #566575;
  --color-base: #f4f8f9;
  --color-line-basic: #dbe6f2;
  --color-inactive: #566575;
  --color-primary: #3284d6;
  --color-hover: #cedee6;
  --color-overlay: rgba(55, 64, 70, 0.4);

  --background-image-content-base: linear-gradient(
    128.67deg,
    #ffffff 23.76%,
    #f7faff 133.63%
  );

  --radius-20: 1.25rem;

  --shadow-basic: 1px 2px 20px rgba(18, 61, 101, 0.05);
  --shadow-inset: inset 3px 3px 7px rgba(136, 165, 191, 0.1);
  --shadow-content:
    1px 2px 20px rgba(18, 61, 101, 0.05),
    inset -18.4px -13.8px 184px rgba(255, 255, 255, 0.18);

  --header-height: 108px;
  --sidemenu-width: 348px;
}

@layer base {
  body {
    font-family: var(--font-zenKakuGothicNew);
    background-color: var(--color-base);
    color: var(--color-paragraph-basic);
  }
}

@layer utilities {
  .shadow-basic {
    box-shadow: var(--shadow-basic);
  }
  .shadow-inset {
    box-shadow: var(--shadow-inset);
  }
  .shadow-content {
    box-shadow: var(--shadow-content);
  }
}
